In [47]:
import pandas as pd
import os
import datetime
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

import warnings
warnings.filterwarnings(action='ignore')

In [48]:
# 항공 작업 경로 변환
# os.chdir("../file_csv/hotel")
# os.chdir("../../file_csv/hotel")

In [49]:
df = pd.read_csv('hotel_EDA.csv')
df_2p = pd.read_csv('hotel_EDA_2p.csv')
df_4p = pd.read_csv('hotel_EDA_4p.csv')
df.head()

,date,platform,name,level,score,review_count,location,room_type,price,link,person,day,holiday,review_group,day_diff
0,2023-08-01,여기어때,에이바 호텔 함덕,비지니스,4.3,5.0,제주특별자치도 제주시 조천읍 함덕리 1010,스탠다드 트윈 오션,120000,https://www.goodchoice.kr/product/detail?ano=7...,2인,화요일,평일,50,평일
1,2023-08-01,여기어때,에이바 호텔 함덕,비지니스,4.3,5.0,제주특별자치도 제주시 조천읍 함덕리 1010,스탠다드 더블 사이드 오션,120000,https://www.goodchoice.kr/product/detail?ano=7...,2인,화요일,평일,50,평일
2,2023-08-01,여기어때,제주 메이저 호텔,비지니스,4.2,16.0,제주특별자치도 제주시 연동 278-8,스탠다드 더블,65000,https://www.goodchoice.kr/product/detail?ano=9...,2인,화요일,평일,50,평일
3,2023-08-01,여기어때,제주 메이저 호텔,비지니스,4.2,16.0,제주특별자치도 제주시 연동 278-8,스탠다드 트윈,70000,https://www.goodchoice.kr/product/detail?ano=9...,2인,화요일,평일,50,평일
4,2023-08-01,여기어때,제주 메이저 호텔,비지니스,4.2,16.0,제주특별자치도 제주시 연동 278-8,트리플룸,75000,https://www.goodchoice.kr/product/detail?ano=9...,2인,화요일,평일,50,평일

In [50]:
df_presentation = pd.read_csv('hotel_data_8_2p.csv')
df_presentation.head()

,date,platform,name,level,score,review_count,location,room_type,price,link
0,2023-08-01,여기어때,에이바 호텔 함덕,비지니스,4.3,5.0,제주특별자치도 제주시 조천읍 함덕리 1010,스탠다드 트윈 오션,120000,https://www.goodchoice.kr/product/detail?ano=7...
1,2023-08-01,여기어때,에이바 호텔 함덕,비지니스,4.3,5.0,제주특별자치도 제주시 조천읍 함덕리 1010,스탠다드 더블 사이드 오션,120000,https://www.goodchoice.kr/product/detail?ano=7...
2,2023-08-01,여기어때,에이바 호텔 함덕,비지니스,4.3,5.0,제주특별자치도 제주시 조천읍 함덕리 1010,[레이트 체크아웃 전용] 스탠다드 트윈 오션,135000,https://www.goodchoice.kr/product/detail?ano=7...
3,2023-08-01,여기어때,제주 메이저 호텔,비지니스,4.2,16.0,제주특별자치도 제주시 연동 278-8,스탠다드 더블,65000,https://www.goodchoice.kr/product/detail?ano=9...
4,2023-08-01,여기어때,제주 메이저 호텔,비지니스,4.2,16.0,제주특별자치도 제주시 연동 278-8,스탠다드 트윈,70000,https://www.goodchoice.kr/product/detail?ano=9...

In [51]:
df_presentation.columns

Index(['date', 'platform', 'name', 'level', 'score', 'review_count',
       'location', 'room_type', 'price', 'link'],
      dtype='object')

### 주소 (location)

In [52]:
# 주소가 너무 길음 >> 시, 동으로 구분

def city_find(address):
    address_parts = address.split()[1]
    return address_parts
df['city'] = df['location'].apply(city_find)

def city_find2(address):
    address_parts = address.split()[2]
    return address_parts
df['city_details'] = df['location'].apply(city_find2)

In [53]:
df['city'].value_counts()

city
서귀포시    120734
제주시     100242
Name: count, dtype: int64

In [54]:
df['city_details'].value_counts()

city_details
서귀동     40145
연동      34776
색달동     13258
애월읍     12822
성산읍     12058
조천읍     11971
안덕면     11753
삼도이동     8600
노형동      8225
강정동      8122
서호동      6204
서홍동      5840
중문동      5814
한림읍      4816
건입동      4426
대정읍      4343
법환동      3017
우도면      2917
토평동      2586
삼도일동     2545
표선면      2445
용담삼동     2190
이도이동     2160
남원읍      1938
하예동      1400
구좌읍      1226
용담일동     1131
용담이동      927
호근동       785
오등동       694
상예동       538
보목동       488
내도동       234
이호일동      224
외도일동      163
오라이동      120
삼양이동       75
Name: count, dtype: int64

### review_count의 카디널리티가 매우 높음

In [55]:
# 500미만 / 500이상으로 분류

In [56]:
# 주소가 너무 길음 >> 시, 동으로 구분

def review_group(review_count):
    if review_count < 500:
        return '500 미만'
    else:
        return '500 이상'
df['review_group'] = df['review_count'].apply(review_group)
df

,date,platform,name,level,score,review_count,location,room_type,price,link,person,day,holiday,review_group,day_diff,city,city_details
0,2023-08-01,여기어때,에이바 호텔 함덕,비지니스,4.3,5.0,제주특별자치도 제주시 조천읍 함덕리 1010,스탠다드 트윈 오션,120000,https://www.goodchoice.kr/product/detail?ano=7...,2인,화요일,평일,500 미만,평일,제주시,조천읍
1,2023-08-01,여기어때,에이바 호텔 함덕,비지니스,4.3,5.0,제주특별자치도 제주시 조천읍 함덕리 1010,스탠다드 더블 사이드 오션,120000,https://www.goodchoice.kr/product/detail?ano=7...,2인,화요일,평일,500 미만,평일,제주시,조천읍
2,2023-08-01,여기어때,제주 메이저 호텔,비지니스,4.2,16.0,제주특별자치도 제주시 연동 278-8,스탠다드 더블,65000,https://www.goodchoice.kr/product/detail?ano=9...,2인,화요일,평일,500 미만,평일,제주시,연동
3,2023-08-01,여기어때,제주 메이저 호텔,비지니스,4.2,16.0,제주특별자치도 제주시 연동 278-8,스탠다드 트윈,70000,https://www.goodchoice.kr/product/detail?ano=9...,2인,화요일,평일,500 미만,평일,제주시,연동
4,2023-08-01,여기어때,제주 메이저 호텔,비지니스,4.2,16.0,제주특별자치도 제주시 연동 278-8,트리플룸,75000,https://www.goodchoice.kr/product/detail?ano=9...,2인,화요일,평일,500 미만,평일,제주시,연동
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220971,2023-10-30,여기어때,다인오세아노호텔,4성급,4.5,223.0,제주특별자치도 제주시 애월읍 고내리 84,[단독특가] 스위트 오션,218300,https://www.goodchoice.kr/product/detail?ano=5...,4인,월요일,평일,500 미만,평일,제주시,애월읍
220972,2023-10-30,여기어때,다인오세아노호텔,4성급,4.5,223.0,제주특별자치도 제주시 애월읍 고내리 84,[단독특가] 슈페리어 오션 테라스,241900,https://www.goodchoice.kr/product/detail?ano=5...,4인,월요일,평일,500 미만,평일,제주시,애월읍
220973,2023-10-30,여기어때,다인오세아노호텔,4성급,4.5,223.0,제주특별자치도 제주시 애월읍 고내리 84,[단독특가] 패밀리 스위트 (마운틴뷰),306800,https://www.goodchoice.kr/product/detail?ano=5...,4인,월요일,평일,500 미만,평일,제주시,애월읍
220974,2023-10-30,여기어때,다인오세아노호텔,4성급,4.5,223.0,제주특별자치도 제주시 애월읍 고내리 84,[단독특가] 패밀리 오션 스위트,413000,https://www.goodchoice.kr/product/detail?ano=5...,4인,월요일,평일,500 미만,평일,제주시,애월읍
220975,2023-10-30,여기어때,다인오세아노호텔,4성급,4.5,223.0,제주특별자치도 제주시 애월읍 고내리 84,[단독특가] 풀빌라 스위트,554600,https://www.goodchoice.kr/product/detail?ano=5...,4인,월요일,평일,500 미만,평일,제주시,애월읍

### room_type의 카디널리티가 매우 높음

In [57]:
# 2인과 4인 데이터를 따로 이용하여 room_type를 없애고, 가격은 같은 호텔 내에서 평균가로 결정

#### 2인

In [58]:
# 빈 표 만들기 (df_)
df_ = df.drop(['platform', 'level', 'score', 'review_count', 'room_type', 'location', 'link', 'day', 'holiday', 'review_group', 'day_diff', 'person'], axis=1)
df_ = df_.drop(range(0, 201172), axis=0)
df_

# date 리스트 (중복 x)
date_sort = df_2p['date'].sort_values(ignore_index=True)
date_sort_list = [date_sort[i] for i in range(len(date_sort))]  # 이름 >> 리스트화
date_list = list(dict.fromkeys(date_sort_list))  # 중복 제거

# name 리스트 (중복 x)
name_sort = df_2p['name'].sort_values(ignore_index=True)
name_sort_list = [name_sort[i] for i in range(len(name_sort))]  # 이름 >> 리스트화
name_list = list(dict.fromkeys(name_sort_list))  # 중복 제거

dict_ = {}
def mean_by_hotel():
    for x in range(len(date_list)):
        for y in range(len(name_list)):
            price = df_2p.query(f'(name=="{name_list[y]}") and (date=="{date_list[x]}")')['price'].mean()
            dict_[(100000*x)+(y)] = {'date': date_list[x], 'name': name_list[y], 'price': price}
    new_df = pd.DataFrame.from_dict(dict_, "index")
    new_df['person'] = '2인'
    return new_df

df_2p_ = mean_by_hotel()

In [59]:
df2 = df_2p_.dropna().reset_index(drop=True)

df_nlr = df[['name', 'level', 'review_count', 'review_group', 'score', 'city', 'city_details']].drop_duplicates().reset_index(drop = True)
df_nlr = df_nlr.loc[df_nlr[['name']].drop_duplicates().index].reset_index(drop = True)

# merge (새로운 데이터에 level, review_count 추가)
df3 = pd.merge(df2, df_nlr, how = 'inner', on = 'name')
df3

,date,name,price,person,level,review_count,review_group,score,city,city_details
0,2023-08-01,Premium 리벤시아 풀빌라&호텔,962500.000000,2인,가족호텔,34.0,500 미만,4.2,제주시,한림읍
1,2023-08-02,Premium 리벤시아 풀빌라&호텔,450000.000000,2인,가족호텔,34.0,500 미만,4.2,제주시,한림읍
2,2023-08-03,Premium 리벤시아 풀빌라&호텔,666666.666667,2인,가족호텔,34.0,500 미만,4.2,제주시,한림읍
3,2023-08-04,Premium 리벤시아 풀빌라&호텔,575000.000000,2인,가족호텔,34.0,500 미만,4.2,제주시,한림읍
4,2023-08-05,Premium 리벤시아 풀빌라&호텔,475000.000000,2인,가족호텔,34.0,500 미만,4.2,제주시,한림읍
...,...,...,...,...,...,...,...,...,...,...
15030,2023-10-07,하이 제주 호텔,170750.000000,2인,비지니스,111.0,500 미만,4.2,제주시,한림읍
15031,2023-10-08,하이 제주 호텔,170750.000000,2인,비지니스,111.0,500 미만,4.2,제주시,한림읍
15032,2023-10-13,하이 제주 호텔,170750.000000,2인,비지니스,111.0,500 미만,4.2,제주시,한림읍
15033,2023-10-14,하이 제주 호텔,170750.000000,2인,비지니스,111.0,500 미만,4.2,제주시,한림읍
15034,2023-10-15,하이 제주 호텔,170750.000000,2인,비지니스,111.0,500 미만,4.2,제주시,한림읍

In [60]:
df3 = df3.sort_values(by='date', ascending=True)
df3 = df3.reset_index(drop=True)
df3['price'] = df3['price'].apply(lambda x: round(x))
df3

,date,name,price,person,level,review_count,review_group,score,city,city_details
0,2023-08-01,Premium 리벤시아 풀빌라&호텔,962500,2인,가족호텔,34.0,500 미만,4.2,제주시,한림읍
1,2023-08-01,호텔 앨리스 앤 트렁크,125000,2인,비지니스,180.0,500 미만,4.8,제주시,연동
2,2023-08-01,호텔 연,62500,2인,비지니스,342.0,500 미만,4.8,서귀포시,서귀동
3,2023-08-01,솔동산스테이,205995,2인,레지던스,57.0,500 미만,4.9,서귀포시,서귀동
4,2023-08-01,호텔 윈스토리,103000,2인,비지니스,1344.0,500 이상,4.6,서귀포시,서귀동
...,...,...,...,...,...,...,...,...,...,...
15030,2023-10-31,제주 디아일랜드 블루,225800,2인,레지던스,491.0,500 미만,4.4,서귀포시,서귀동
15031,2023-10-31,제주 로긴호텔 (구 제주 오슬로호텔),60750,2인,2성급,474.0,500 미만,4.7,제주시,용담삼동
15032,2023-10-31,디 아넥스 호텔 (포도호텔 별관),250588,2인,4성급,48.0,500 미만,4.8,서귀포시,안덕면
15033,2023-10-31,호텔 휴식 서귀포,53000,2인,3성급,563.0,500 이상,4.6,서귀포시,서귀동
15034,2023-10-31,팜파스호텔 제주,68500,2인,비지니스,250.0,500 미만,4.7,제주시,용담삼동

In [61]:
# csv 파일 변환
df3.to_csv("hotel_EDA_2p_2.csv", index=False, encoding="utf-8-sig", mode="w")

#### 4인

In [62]:
# 빈 표 만들기 (df_)
df_ = df.drop(['platform', 'level', 'score', 'review_count', 'room_type', 'location', 'link', 'day', 'holiday', 'review_group', 'day_diff', 'person'], axis=1)
df_ = df_.drop(range(0, 201172), axis=0)
df_

# date 리스트 (중복 x)
date_sort = df_4p['date'].sort_values(ignore_index=True)
date_sort_list = [date_sort[i] for i in range(len(date_sort))]  # 이름 >> 리스트화
date_list = list(dict.fromkeys(date_sort_list))  # 중복 제거

# name 리스트 (중복 x)
name_sort = df_4p['name'].sort_values(ignore_index=True)
name_sort_list = [name_sort[i] for i in range(len(name_sort))]  # 이름 >> 리스트화
name_list = list(dict.fromkeys(name_sort_list))  # 중복 제거

dict_ = {}
def mean_by_hotel():
    for x in range(len(date_list)):
        for y in range(len(name_list)):
            price = df_4p.query(f'(name=="{name_list[y]}") and (date=="{date_list[x]}")')['price'].mean()
            dict_[(100000*x)+(y)] = {'date': date_list[x], 'name': name_list[y], 'price': price}
    new_df = pd.DataFrame.from_dict(dict_, "index")
    new_df['person'] = '4인'
    return new_df

df_4p_ = mean_by_hotel()

In [63]:
df2 = df_4p_.dropna().reset_index(drop=True)

df_nlr = df[['name', 'level', 'review_count', 'review_group', 'score', 'city', 'city_details']].drop_duplicates().reset_index(drop = True)
df_nlr = df_nlr.loc[df_nlr[['name']].drop_duplicates().index].reset_index(drop = True)

# merge (새로운 데이터에 level, review_count 추가)
df3 = pd.merge(df2, df_nlr, how = 'inner', on = 'name')
df3

,date,name,price,person,level,review_count,review_group,score,city,city_details
0,2023-08-01,Premium 리벤시아 풀빌라&호텔,962500.000000,4인,가족호텔,34.0,500 미만,4.2,제주시,한림읍
1,2023-08-02,Premium 리벤시아 풀빌라&호텔,450000.000000,4인,가족호텔,34.0,500 미만,4.2,제주시,한림읍
2,2023-08-03,Premium 리벤시아 풀빌라&호텔,666666.666667,4인,가족호텔,34.0,500 미만,4.2,제주시,한림읍
3,2023-08-04,Premium 리벤시아 풀빌라&호텔,575000.000000,4인,가족호텔,34.0,500 미만,4.2,제주시,한림읍
4,2023-08-05,Premium 리벤시아 풀빌라&호텔,475000.000000,4인,가족호텔,34.0,500 미만,4.2,제주시,한림읍
...,...,...,...,...,...,...,...,...,...,...
10287,2023-10-27,에이바 호텔 함덕,91000.000000,4인,비지니스,5.0,500 미만,4.3,제주시,조천읍
10288,2023-10-28,에이바 호텔 함덕,91000.000000,4인,비지니스,5.0,500 미만,4.3,제주시,조천읍
10289,2023-10-29,에이바 호텔 함덕,91000.000000,4인,비지니스,5.0,500 미만,4.3,제주시,조천읍
10290,2023-10-30,에이바 호텔 함덕,91000.000000,4인,비지니스,5.0,500 미만,4.3,제주시,조천읍
10291,2023-10-31,에이바 호텔 함덕,91000.000000,4인,비지니스,5.0,500 미만,4.3,제주시,조천읍

In [64]:
df3 = df3.sort_values(by='date', ascending=True)
df3 = df3.reset_index(drop=True)
df3['price'] = df3['price'].apply(lambda x: round(x))
df3

,date,name,price,person,level,review_count,review_group,score,city,city_details
0,2023-08-01,Premium 리벤시아 풀빌라&호텔,962500,4인,가족호텔,34.0,500 미만,4.2,제주시,한림읍
1,2023-08-01,미주 호텔,58000,4인,관광,27.0,500 미만,3.6,제주시,연동
2,2023-08-01,피노호텔,91500,4인,비지니스,120.0,500 미만,4.8,서귀포시,서귀동
3,2023-08-01,펄호텔 제주,45600,4인,비지니스,96.0,500 미만,4.2,제주시,연동
4,2023-08-01,판타스틱 오션뷰 시드니호텔,72750,4인,3성급,158.0,500 미만,4.3,제주시,애월읍
...,...,...,...,...,...,...,...,...,...,...
10287,2023-10-31,씨클리프호텔 제주,226667,4인,관광,8.0,500 미만,4.4,제주시,애월읍
10288,2023-10-31,풍경호텔,75571,4인,관광,55.0,500 미만,3.7,서귀포시,서홍동
10289,2023-10-31,더 그랜드 섬오름,184525,4인,4성급,238.0,500 미만,4.7,서귀포시,법환동
10290,2023-10-31,신화관 제주신화월드 호텔앤리조트,314903,4인,5성급,933.0,500 이상,4.8,서귀포시,안덕면
10291,2023-10-31,에이바 호텔 함덕,91000,4인,비지니스,5.0,500 미만,4.3,제주시,조천읍

In [65]:
# csv 파일 변환
df3.to_csv("hotel_EDA_4p_2.csv", index=False, encoding="utf-8-sig", mode="w")